html, body {
  height: 100%;
  width: 100%;
  min-height: 602px;
  min-width: 662px;
  padding: 0;
  margin: 0;
} 

body {
  background-color: #fafafa;
}

#toolbar-wrapper {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: calc(50vh - 302px);
}

#toolbar {
  height: 100%;
  width: 640px;
  margin: auto;
  display: flex;
  box-sizing: border-box;
  padding: 1em 1em;
  background-color: rgba(0,0,0,.8);
}

#canvas-wrapper {
  height: 100%;
  width: 662px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
canvas {
  padding: 0;
  border: 10px solid #fff;
  outline: 1px solid #efefef;
}

.mode-wrapper,
.size-wrapper,
.color-wrapper {
  height: 100%;
  width: 25%;
  display: inline-block;
}

.size-wrapper {
  width: 35%;
}

select {
  width: calc(90% - 6em);
  height: 2em;
  margin-left: .3em;
  outline: none;
  border-radius: 3px;
}

span {
  display: inline-block;
  padding-top: 0.1em;
  font-family: sans-serif;
  color: #fff;
}

.size-wrapper span {
  width: 2.4em;
}

#size-slider-display {
  width: 1.5em;
}

.size-wrapper input {
  width: calc(100% - 8em);
  height: .9em;
}

@media screen and (min-width: 850px) {
  #toolbar-wrapper {
    height: 100%;
    width: calc(100% - 662px);
    float: left;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #toolbar {
    height: 622px;
    width: 100%;
    background-color: transparent;
    flex-direction: column;
  }
  
  .mode-wrapper,
  .size-wrapper,
  .color-wrapper {
    height: 3em;
    width: 100%;
    display: block;
  }
  
  span {
    color: #333;
  }
  
  #canvas-wrapper {
    margin: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 950px) {
  
  #toolbar-wrapper {
    width: calc(50% - 330px);
    margin-top: 0;
  }
  
  #canvas-wrapper {
    margin-left: 0;
    margin: auto;
  }
}